In [1]:
#1. Imprima todos os itens de uma lista de compras.

lista_compras = ['arroz', 'feijão', 'macarrão', 'azeite', 'farinha', 'açúcar']
for i in lista_compras:
    print(lista_compras)

['arroz', 'feijão', 'macarrão', 'azeite', 'farinha', 'açúcar']

In [17]:
#2. Calcule e exiba a soma de todos os números em uma lista.

numeros = [10, 20, 30, 40, 50]
soma = 0
'''for i in numeros:
    print(sum(numeros))
'''
for i in numeros:
    soma+=i
print('A soma dos itens na lista é: {}'.format(soma))

A soma dos itens na lista é:150

In [14]:
#3. Conte quantos números ímpares existem em uma lista.

numeros = [1, 4, 7, 10, 13, 16, 19, 22]
num_impar = 0

for i in numeros:
    if i%2!=0:
        num_impar +=1
print ('a lista possui {} numeros impares'.format(num_impar))

a lista possui 4 numeros impares

In [23]:
# 4. Verifique quais números de uma lista são múltiplos de 5 e imprima-os.

numeros = [5, 10, 13, 20, 25, 28, 30, 33, 40, 45]

for i in numeros:
    if i%5==0:
        print('É multiplo de 5: {}'.format(i))

É multiplo de 5: 5
É multiplo de 5: 10
É multiplo de 5: 20
É multiplo de 5: 25
É multiplo de 5: 30
É multiplo de 5: 40
É multiplo de 5: 45

In [26]:
# 5. Multiplique todos os valores de uma lista por 2 e armazene em uma nova lista.

numeros = [1, 2, 3, 4, 5]
mul_valores = []

for i in numeros:
    mult = i*2
    mul_valores.append(mult)
print(mul_valores)

[2, 4, 6, 8, 10]

In [30]:
#6. Transforme todas as palavras de uma lista de nomes em maiúsculas.

nomes = ['joão', 'maria', 'ana', 'carlos']
nomes_maisculas=[]
for i in nomes:
    nomes_maisculas.append(i.upper())
print(nomes_maisculas)

['JOÃO', 'MARIA', 'ANA', 'CARLOS']

In [31]:
#7. Remova os espaços extras das palavras de uma lista.

palavras = ['   ', ' código  ', '  lista', ' estrutura ']
sem_espacos = []

for i in palavras:
    sem_espacos.append(i.strip())
print(sem_espacos)

['', 'código', 'lista', 'estrutura']

In [32]:
#8. Imprima apenas as palavras que começam com a letra "A".

palavras = ['banana', 'abacaxi', 'uva', 'amora', 'laranja', 'acerola']
for i in palavras:
    if i.startswith('a'):
        print(i)

abacaxi
amora
acerola

In [33]:
#9. Dada uma lista de temperaturas em Celsius, converta todas para Fahrenheit.

celsius = [0, 10, 20, 30, 40, 50]
fahre = []

for i in celsius:
    fahre.append(i*9/5+32)
print(fahre)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [61]:
#10. Dada uma lista de notas, exiba quais estão acima da média da turma.

notas = [5.0, 7.5, 8.0, 6.0, 9.0, 10.0, 4.5, 3.0]
media = sum(notas)/8

for i in notas:
    if i>media:
        print('Acima da media: ', i)
print(media)

Acima da media:  7.5
Acima da media:  8.0
Acima da media:  9.0
Acima da media:  10.0
6.625

In [39]:
#11. Dada uma lista de alunos e suas notas, imprima o nome dos alunos que tiraram nota acima de 7.0.

alunos = ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo']
notas = [6.5, 8.0, 7.2, 5.5, 9.1]

for i in range(len(alunos)):
    if notas[i] > 7:
        print(alunos[i]

Bruno
Carlos
Eduardo

In [62]:
#12. Dada uma lista de produtos e preços, exiba quais produtos custam menos de R$ 10,00.

produtos = ['Sabão', 'Detergente', 'Shampoo', 'Condicionador', 'Escova']
precos = [3.5, 2.0, 15.0, 18.5, 8.0]

for i in range(len(produtos)):
    if precos[i]<10:
        print(produtos[i])

Sabão
Detergente
Escova

In [65]:
#13. Imprima os funcionários cujo salário é maior que R$ 3000,00.

funcionarios = ['João', 'Mariana', 'Carlos', 'Beatriz', 'Lucas']
salarios = [2800, 3500, 2700, 4200, 3100]

for i in range(len(funcionarios)):
    if salarios[i]>3000:
        print(funcionarios[i])

Mariana
Beatriz
Lucas

In [68]:
#14. Imprima os nomes dos alunos reprovados (nota < 5).

alunos = ['Fernanda', 'Pedro', 'Luana', 'André', 'Gabriela']
notas = [4.0, 6.5, 3.8, 7.2, 5.0]

for i in range(len(alunos)):
    if notas[i] <= 5:
        print(alunos[i])

Fernanda
Luana
Gabriela

In [70]:
#15. Exiba os clientes que têm mais de 50 anos.

clientes = ['Roberto', 'Júlia', 'Ricardo', 'Carla', 'Sérgio']
idades = [45, 52, 37, 60, 49]

for i in range(len(clientes)):
    if idades[i]>=50:
        print(clientes[i])

Júlia
Carla

In [71]:
#16. Dado um estoque e um mínimo aceitável, informe os produtos abaixo do nível crítico.

produtos = ['Arroz', 'Feijão', 'Macarrão', 'Óleo', 'Açúcar']
estoque = [50, 200, 30, 10, 90]
nivel_critico = 40

for i in range(len(produtos)):
    if estoque[i] < nivel_critico:
        print(produtos[i])

Macarrão
Óleo

In [76]:
#17. Verifique quais produtos de uma lista são mais caros que um determinado valor.

produtos = ['Caderno', 'Caneta', 'Lápis', 'Borracha', 'Estojo']
precos = [25.0, 2.5, 1.0, 3.0, 20.0]
limite = 10.0

for i in range(len(produtos)):
    if precos[i] > limite:
        print(produtos[i])

Caderno
Estojo

In [73]:
#18. Encontre os alunos que atingiram nota máxima.

alunos = ['Alice', 'Bruno', 'Clara', 'Daniel']
notas = [9.8, 10.0, 7.5, 10.0]

for i in range(len(alunos)):
    if notas[i] == 10:
        print(alunos[i])

Bruno
Daniel

In [74]:
#19. Encontre os clientes que têm saldo negativo.

clientes = ['Maria', 'José', 'Paula', 'Carlos']
saldos = [1200, -500, 300, -150]

for i in range (len(clientes)):
    if saldos[i] < 0:
        print(clientes[i])

José
Carlos

In [79]:
#20. Liste os alunos e suas idades.

alunos = ['Gabriel', 'Mariana', 'Sofia']
idades = [15, 17, 14]

for i in range(len(alunos)):
    print('O aluno {} possui {} de idade'.format(alunos[i], idades[i]))

O aluno Gabriel possui 15 de idade
O aluno Mariana possui 17 de idade
O aluno Sofia possui 14 de idade